.btn {
  height: 2rem;
  min-width: 2rem;
  padding-inline: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn_primary {
  background-color: var(--secondary);
  color: var(--light);
  border: none;
}

.btn_primary:hover {
  background-color: var(--secondary-hover);
  color: var(--light);
  border: none;
}
.btn_primary:disabled {
  pointer-events: none;
}

.btn_outline {
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.btn_outline:hover {
  border: 2px solid var(--secondary-hover);
  color: var(--secondary-hover);
}

.btn_danger {
}
