.btn {
  height: 2rem;
  min-width: 2rem;
  padding-inline: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;

  &:disabled {
    pointer-events: none;
  }
}

.btn_primary {
  background-color: var(--secondary);
  color: var(--light);
  border: none;

  &:hover {
    background-color: var(--secondary-hover);
    color: var(--light);
    border: none;
  }
}

.btn_outline {
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);

  &:hover {
    border: 2px solid var(--secondary-hover);
    color: var(--secondary-hover);
  }
}

.btn_danger {
}

.btn_blank {
  background-color: transparent;
  border: none;
  color: var(--secondary);

  &:hover {
    background-color: rgb(239, 236, 236);
  }
}
