.sideBar {
  position: fixed;

  @media (max-width: 768px) {
    top: 5rem;
    background-color: var(--primary);
    border-radius: 1.25rem;
  }
  @media (max-width: 480px) {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
}
