.tag {
  height: 1.5rem;
  line-height: 1.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.75rem;

  text-wrap: nowrap;
  text-align: center;
  color: var(--light);
  background-color: var(--accent);
}
