.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 900px;
  height: 90%;
  padding: 1rem;

  background-color: var(--light);
  border-radius: 0.5rem;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
