.table {
  border-collapse: collapse;
  row-gap: 0;
  column-gap: 0;
  font-size: 0.8rem;
}

.table__cell {
  height: 2em;
  width: 3.5em;
  border-radius: 0.25em;

  color: var(--light);
  transition: all 0.2s;
}

.table__cell_button {
  cursor: pointer;
  border: none;
}

.recommended {
  background-color: var(--secondary);
}

.common {
  background-color: var(--secondary-tint-1);
}

.normal {
  background-color: var(--secondary-tint-2);
}

.table__cell_current {
  background-color: var(--accent2);
}

.table__cell_active {
  background-color: var(--accent);
}

.table__cell_button:hover {
  transform: scale(1.2);
}

.table__cell_header {
  color: var(--dark);
}

.table__cell_rowHeader {
  width: 1.5rem;
  text-align: start;
}
