.table {
  border-collapse: collapse;
  row-gap: 0;
  column-gap: 0;
  font-size: 0.8rem;
}

.table__cell {
  padding-block: 0.5em;
  height: 2em;
  width: 3.5em;
  border-radius: 0.25em;
  text-align: center;
  color: var(--light);
  transition: all 0.2s;
}

.table__cell_button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
}

.table__cell_button:hover {
  background-color: var(--primary);
  transform: scale(1.2);
}

.table__cell_header {
  color: var(--dark);
}
