.tableContainer {
  overflow: auto;
  flex: 1;
  padding-right: 4px;
  padding-bottom: 4px;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  row-gap: 0;
  column-gap: 0;
  font-size: 0.8rem;
}

.table__cell {
  height: 2em;
  width: 3.5em;

  color: var(--light);
  transition: all 0.2s;
}

.table__cell_button {
  cursor: pointer;
  border: none;
  border-radius: 0.25em;
}

.table__cell_button:hover {
  transform: scale(1.2);
}

.table__cell_button_disabled {
  color: var(--disabled);
  background-color: var(--disabled);
}

.recommended {
  background-color: var(--secondary);
}

.common {
  background-color: var(--secondary-tint-1);
}

.normal {
  background-color: var(--secondary-tint-2);
}

.table__cell_current {
  border: 4px solid var(--accent);
  font-weight: bold;
}

.table__cell_active {
  background-color: var(--accent);
}

.table__cell_header {
  color: var(--dark);
}

.table__cell_rowHeader {
  color: var(--dark);
  text-align: start;
  width: 1.5rem;
}

.header {
  background-color: var(--light);
  position: sticky;
  top: 0;
  z-index: 1;
}

.rowHeader {
  background-color: var(--light);
  position: sticky;
  left: 0;
  z-index: 1;
}

.commonHeader {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;

  background-color: var(--light);
}
