:root {
  --light: #eef0f2;
  --primary: #5b8e7d;
  --secondary: #8b8b8b;
  --dark: #3a3f4e;
  --black: #020100;
  --success: #79b473;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--black);
}

.container {
  width: 100%;
  padding: 5rem;
}

.result {
  border: 1px solid red;
  height: 500px;
}

.table {
  border-collapse: collapse;
}

.table__cell {
  padding-block: 0.5rem;
  width: 2.5rem;
}

.table__cell_button {
  cursor: pointer;
  border: none;
  background-color: var(--primary);
}

.table__cell_button:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.table__cell_header {
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
}

.grid_justify-left {
  justify-self: start;
}

.grid_justify-right {
  justify-self: end;
}
.columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column_wide {
  flex-grow: 1;
}

.tag {
  background-color: var(--primary);
}

.btn {
  padding-inline: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  height: 2rem;
  min-width: 2rem;
  line-height: 2rem;
  text-align: center;
}

.btn_primary {
  background-color: var(--primary);
  border: none;
}

.btn_outline {
  background-color: var(--light);
}

.btn_danger {
}

.btn-icon {
  border: none;
  fill: var(--primary);
  background: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  padding: 1rem;
}
