:root {
  --light: #fffaff;
  --primary: #eaf7ff;
  --secondary: #004f73;
  --secondary-tint-1: #0089c8;
  --secondary-tint-2: #87b1cc;
  --secondary-hover: #0089c8;
  --accent: #f56f30;
  --accent2: #00925b;
  --danger: #ad3d25;
  --dark: #4c5c68;
  --black: #3b3b3b;
  --disabled: #cacccc;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  color: var(--black);
}

body {
  background-color: var(--primary);
}

.content {
  margin-block: 2rem;
}
