:root {
  --light: #fffaff;
  --primary: #eaf7ff;
  --secondary: #004f73;
  --secondary-hover: #009ddc;
  --accent: #009ddc;
  --accent2: #1fbaad;
  --dark: #4c5c68;
  --black: #3b3b3b;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--black);
}

body {
  background-color: var(--primary);
}
