:root {
  --light: #eef0f2;
  --primary: #8b8b8b;
  --secondary: #5b8e7d;
  --secondary-hover: #0d7955;
  --dark: #3a3f4e;
  --black: #020100;
  --success: #79b473;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--black);
}
