.columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: relative;

  @media (max-width: 960px) {
    max-width: 400px;
    margin-inline: auto;
    flex-direction: column-reverse;
  }
}

.legend {
  max-width: 190px;
}
