.result {
  border: 1px solid var(--secondary);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
}

.text {
  stroke: var(--secondary);
  fill: var(--secondary);
  transform: scaleY(-1);
  font-size: 16;
}

.rect {
  fill: white;
  stroke: var(--secondary);
  stroke-width: 2;
}
